mercurial
django-extensions
django-annoying
gunicorn
django-treebeard
django-ses
Markdown
ipython
-e git+https://github.com/pydanny/django-uni-form.git
-e hg+https://bitbucket.org/wkornewald/django-mediagenerator
-e hg+http://bitbucket.org/wkornewald/django-nonrel
-e git+https://github.com/bfirsh/django-ordered-model.git
BeautifulSoup
PyYAML
South
Werkzeug
distribute
django-ajax-validation
django-debug-toolbar
django-email-confirmation
django-mailer
django-staticfiles
django-timezones
pytz
virtualenv
wsgiref
